name: 'Terraform'
on:
  pull_request:
  push:
    branches: [master]
jobs:
  terraform:
    name: 'Terraform'
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v4
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_wrapper: false
          terraform_version: ">=1.3.0"
      - name: Terraform version
        run: terraform --version
      - name: Terraform init
        run: terraform init
      - name: Terraform format
        run: terraform fmt -diff -check
      - name: Terraform validate
        run: terraform validate
